name: OrangeFox - Build AOSP

# Credits to:
# TeamWin
# OrangeFox
# azwhikaru (Recovery Builder Template)
# And all contributors from repositories used

on:
  workflow_dispatch:
    inputs:
      MANIFEST_BRANCH:
        description: 'OrangeFox Manifest Branch'
        required: true
        default: '12.1'
        type: choice
        options:
          - 12.1
          - 11.0
      DEVICE_TREE:
        description: 'OrangeFox Device Tree'
        required: true
        default: 'https://github.com/NSR-Resources/android_device_xiaomi_lisa_aosp-ofox'
      KERNEL_TREE:
        description: 'OrangeFox Kernel Tree'
        required: true
        default: 'https://github.com/NSR-Resources/android_kernel_xiaomi_lisa.git'
      DEVICE_TREE_BRANCH:
        description: 'OrangeFox Device Tree Branch'
        required: true
        default: 'fox_12.1'
      KERNEL_TREE_BRANCH:
        description: 'OrangeFox Kernel Tree Branch'
        required: true
        default: 'lineage-23.0'
      DEVICE_PATH:
        description: 'Specify your Device Path'
        required: true
        default: 'device/xiaomi/lisa'
      KERNEL_PATH:
        description: 'Specify your Kernel Path'
        required: true
        default: 'kernel/xiaomi/sm8350'
      DEVICE_NAME:
        description: 'Specify your Device Codename'
        required: true
        default: 'lisa'
      BUILD_TARGET:
        description: 'Specify your Build Target'
        required: true
        default: 'vendorboot'
        type: choice
        options:
          - boot
          - recovery
          - vendorboot

jobs:
  build:
    name: Build OFR by ${{ github.actor }}
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Clean-up
        uses: rokibhasansagar/slimhub_actions@main

      - name: Swap Space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 24

      - name: Build Environment
        run: |
          sudo apt-get update
          sudo apt-get install -y aria2
          git clone https://gitlab.com/OrangeFox/misc/scripts.git -b master
          cd scripts
          sudo bash setup/android_build_env.sh

      - name: Set-up Manifest
        if: ${{ inputs.MANIFEST_BRANCH == '11.0' || inputs.MANIFEST_BRANCH == '12.1' }}
        run: |
          mkdir -p "${GITHUB_WORKSPACE}/OrangeFox"
          cd "${GITHUB_WORKSPACE}/OrangeFox"
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
          git clone https://gitlab.com/OrangeFox/sync.git -b master
          cd sync
          ./orangefox_sync.sh --branch "${{ inputs.MANIFEST_BRANCH }}" --path "${GITHUB_WORKSPACE}/OrangeFox/fox_${{ inputs.MANIFEST_BRANCH }}"

      - name: Clone Device Tree
        run: |
          cd "${GITHUB_WORKSPACE}/OrangeFox/fox_${{ inputs.MANIFEST_BRANCH }}"
          git clone "${{ inputs.DEVICE_TREE }}" -b "${{ inputs.DEVICE_TREE_BRANCH }}" "./${{ inputs.DEVICE_PATH }}"
          cd "${{ inputs.DEVICE_PATH }}"
          echo "DEVICE_TREE_COMMIT=$(git rev-parse HEAD)" >> "$GITHUB_ENV"

      - name: Clone Kernel Tree
        run: |
          cd "${GITHUB_WORKSPACE}/OrangeFox/fox_${{ inputs.MANIFEST_BRANCH }}"
          git clone "${{ inputs.KERNEL_TREE }}" -b "${{ inputs.KERNEL_TREE_BRANCH }}" "./${{ inputs.KERNEL_PATH }}"
          cd "${{ inputs.KERNEL_PATH }}"
          echo "KERNEL_TREE_COMMIT=$(git rev-parse HEAD)" >> "$GITHUB_ENV"

      - name: Building OrangeFox
        run: |
          cd "${GITHUB_WORKSPACE}/OrangeFox/fox_${{ inputs.MANIFEST_BRANCH }}"
          set +e
          source build/envsetup.sh
          export ALLOW_MISSING_DEPENDENCIES=true
          set -e
          lunch "twrp_${{ inputs.DEVICE_NAME }}-eng"
          make clean
          mka adbd "${{ inputs.BUILD_TARGET }}image"

      - name: Set Release Properties
        run: |
          echo "BUILD_DATE=$(TZ=Asia/Dubai date +%Y%m%d)" >> "$GITHUB_ENV"
          cd "${GITHUB_WORKSPACE}/OrangeFox/fox_${{ inputs.MANIFEST_BRANCH }}"
          DEVICE_TREE_URL="${{ inputs.DEVICE_TREE }}"
          if [[ "${DEVICE_TREE_URL}" == *.git ]]; then
            DEVICE_TREE_URL="${DEVICE_TREE_URL%.git}"
          fi
          echo "DEVICE_TREE_URL=${DEVICE_TREE_URL}" >> "$GITHUB_ENV"

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            OrangeFox/fox_${{ inputs.MANIFEST_BRANCH }}/out/target/product/${{ inputs.DEVICE_NAME }}/OrangeFox*.img
            OrangeFox/fox_${{ inputs.MANIFEST_BRANCH }}/out/target/product/${{ inputs.DEVICE_NAME }}/OrangeFox*.zip
          name: OrangeFox Recovery for ${{ inputs.DEVICE_NAME }} // ${{ env.BUILD_DATE }}
          tag_name: ${{ github.run_id }}
          prerelease: true
          body: |
            ## OrangeFox Recovery Build - Unofficial
            Build: fox_${{ inputs.MANIFEST_BRANCH }}
            Device: [Device Tree/Branch](${{ env.DEVICE_TREE_URL }}/tree/${{ inputs.DEVICE_TREE_BRANCH }})
            Device tree commit: [${{ env.DEVICE_TREE_COMMIT }}](${{ env.DEVICE_TREE_URL }}/commit/${{ env.DEVICE_TREE_COMMIT }})
            Kernel commit: ${{ env.KERNEL_TREE_COMMIT }}
